.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
}

.select {
    border: 1px solid #cacccd;
    height: 50px;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
}

.textarea {
    border: 1px solid #cacccd;
    height: 10rem;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
}